.accordion {

    // .accordion__item

    &__item {
        &[data-open] {
            .accordion__item-content {
                grid-template-rows: 1fr;
            }
        }

        // .accordion__item-title

        &-title {
            cursor: pointer;

            * {
                pointer-events: none;
            }

        }

        // .accordion__item-content

        &-content {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.3s;

            // .accordion__item-content-height

            &-height {
                overflow: hidden;
            }
        }
    }

    // .accordion__open

    &__open {}
}