@media (min-width:769px) {
    .order {
        position: relative;
    }

    .order-items {
        position: relative;
        height: 75vh;
        overflow: hidden;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .order-item {
        &:not(:first-child) {
            position: absolute;
            left: 0%;
            top: 0%;
            right: 0%;
            z-index: 1;
            width: 100%;
            transform: translateY(calc(var(--order) * 100vh));
        }
    }
}

@media (max-width:768px) {
    .pin-spacer {
        all: unset !important;

        .order {
            height: auto !important;
            width: auto !important;
            transform: none !important;
            position: static !important;
            margin-bottom: 80px !important;
        }
    }
}