html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-style: normal;
    letter-spacing: normal;
    color: $default;
    font-family: "Inter Tight";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    background-color: $white;

    &._noscroll {
        overflow: hidden;
    }

    @media (max-width:1024px) {
        font-size: 14px;
    }
}

.wrapper {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    position: relative;
    flex: 1 1 auto;
}

._container {
    width: 100%;
    margin-inline: auto;
    max-width: $container + px;

    @media (max-width: $containerWithPadding + px) {
        max-width: none;
        padding-inline: $padding + px;
    }

    @media (max-width:1240px) {
        padding-inline: 15px;
    }
}

img,
svg,
picture,
figure {
    width: 100%;
    max-width: 100%;
    height: auto;
}

// rewrite parent theme styles
@import "parts/wp";

h1,
h2,
h3,
h4 {
    font-style: normal;
    font-weight: 400;
}

h1 {
    color: $white;
    @include adaptive-value('font-size', 50, 22, 1);
    line-height: 1.2;
    letter-spacing: -1px;
}

h2 {
    @include adaptive-value('font-size', 60, 28, 1);
    line-height: 1;
    letter-spacing: -1.2px;

    @media (max-width:1024px) {
        letter-spacing: -0.6px;
    }

    label {
        color: $accent;
    }

    span {
        color: $secondary;
    }
}

h3 {
    @include adaptive-value('font-size', 24, 18, 1);
    line-height: 1.1;
}

h4 {
    font-size: 20px;
    line-height: 1.2;

    @media (max-width:1024px) {
        font-size: 16px;
    }
}

._subtitle {
    @include adaptive-value('font-size', 20, 16, 1);
    line-height: 1.3;
}

._big_title {
    @media (min-width:1025px) {
        @include adaptive-value('font-size', 90, 50, 1);
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -1px;
        text-transform: uppercase;
    }

    @media (max-width:1024px) {
        @include adaptive-value('font-size', 60, 28, 1);
        line-height: 1;
        letter-spacing: -1.2px;

        @media (max-width:1024px) {
            letter-spacing: -0.6px;
        }
    }
}

._titles_label {
    background-color: $accent_10;
    padding: 10px 15px;
    border-radius: 50px;
}

._small_uppercase {
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;

    @media (max-width:1024px) {
        font-size: 13px;
    }
}

._big_text {
    @include adaptive-value('font-size', 36, 26, 1);
    font-weight: 500;
    line-height: 1.1;

    label {
        color: $accent;
    }
}

._btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-radius: 4px;
    padding: 15px 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.1px;
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    white-space: nowrap;

    @media (max-width:1024px) {
        height: 54px;
        font-size: 14px;
    }

    @media (max-width:425px) {
        padding-inline: 30px;
    }

    // ._btn-accent
    &-accent {
        color: $white;
        background-color: $accent;

        &:hover {
            background-color: $accent_hover;
        }
    }

    // ._btn-white
    &-white {
        color: $accent;
        background-color: $white;
        border: 1px solid $white;

        &:hover {
            background-color: unset;
            color: $white;
        }
    }

    // ._btn-grey-stroke
    &._btn-grey-stroke {
        border: 1px solid $stroke_light_grey;
        color: $accent;

        &:hover {
            background-color: $accent;
            color: $white;
            border-color: $accent;
        }
    }

    // ._btn-white-stroke
    &._btn-white-stroke {
        border: 1px solid $stroke_white_15;
        color: $white;

        &:hover {
            border-color: $white;
        }
    }
}

._desktop {
    @media (max-width:1024px) {
        display: none !important;
    }
}

._mobile {
    @media (min-width:1025px) {
        display: none !important;
    }
}

.swiper-controll {
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 40px;

    @media (max-width:1024px) {
        margin-top: 30px;
    }

    button {
        width: 54px;
        height: 54px;
        border-radius: 4px;
        transition: all 0.3s ease 0s;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(.swiper-button-disabled) {
            background-color: $soft_blue;

            &:hover {
                background-color: $accent;
                border-color: $accent;

                svg {
                    fill: $white;
                }
            }
        }

        &.prev {

            img,
            svg {
                transform: rotate(180deg);
            }
        }

        &.swiper-button-disabled {
            border-radius: 4px;
            border: 1px solid $stroke_light_grey;
            opacity: 0.5;
        }

        svg,
        img {
            width: 24px;
            height: 24px;
            fill: $accent;

            @media (max-width:768px) {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.opening-hours {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    @media (max-width:768px) {
        flex-direction: column;
        margin-bottom: 15px;
    }

    label {
        color: $white_50;

        @media (min-width:769px) {
            margin-top: 4px;
        }
    }

    p {
        color: $white;
        font-size: 16px;

        @media (max-width:1024px) {
            font-size: 14px;
        }
    }
}