.footer {
    @media (min-width:1025px) {
        @include adaptive-value('margin-top', 70, 30, 1);
        border-top: 1px solid $stroke_light_grey;
    }

    // .footer__container
    &__container {
        @media (max-width:1024px) {
            padding: 0;
        }
    }

    // .footer__body
    &__body {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: auto;

        @media (max-width:1024px) {
            grid-template-columns: repeat(4, 1fr);
        }

        & > :first-child {
            grid-column: span 4;
            border-left: 0;

            @media (min-width:1025px) {
                padding-left: 0;
            }

            @media (max-width:1024px) {
                border-top: 0;
            }
        }

        & > :last-child {
            grid-column: span 2;
            border-right: 0;

            @media (min-width:1025px) {
                padding-right: 0;
            }
        }

        & > :nth-child(2),
        & > :nth-child(3) {
            @media (max-width:600px) {
                grid-column: span 2;
            }
        }
    }

    .logo {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;

        @media (max-width:1024px) {
            gap: 15px;
        }

        a {
            display: block;

            img,
            svg,
            picture {
                @include adaptive-value('width', 210, 170, 1);
            }
        }

        span {
            color: $secondary;
        }
    }

    // .footer__privacy
    &__privacy {
        text-align: right;
        transition: all 0.3s ease 0s;

        @media (max-width:1024px) {
            text-align: left;
            white-space: nowrap;
        }

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.5;
            }
        }
    }

    // .footer__item
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        padding: 40px;
        border-right: 1px solid $stroke_light_grey;
        min-height: 210px;

        span {
            color: $secondary;
        }

        @media (max-width:1240px) {
            padding: 20px;
        }

        @media (max-width:1024px) {
            min-height: 90px;
            padding: 15px;
            border-top: 1px solid $stroke_light_grey;
        }

        &.nowrap {
            white-space: nowrap;
        }

        &:has(.logo) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-direction: row;
            gap: 20px;

            @media (max-width:600px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    .rusprofile {
        grid-column: span 2;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        @media (max-width:600px) {
            grid-column: span 4;
            align-items: flex-start;
            justify-content: center;
        }

        img,
        svg,
        picture {
            width: 160px;

            @media (max-width:1024px) {
                width: 120px;
            }
        }
    }

    // .footer-home
    &-home {
        .footer__body {
            @media (max-width:600px) {
                grid-template-columns: repeat(2, 1fr);
            }

            & > :first-child {
                grid-column: span 4;
                position: relative;

                @media (max-width:600px) {
                    grid-column: span 2;
                }

                &:before {
                    position: absolute;
                    content: '';
                    left: -50vw;
                    bottom: 0;
                    width: 150vw;
                    height: 0;
                    border-bottom: 1px solid $stroke_light_grey;

                    @media (max-width:1024px) {
                        display: none;
                    }
                }
            }

            & > :last-child {
                border-right: 0;

                @media (min-width:1025px) {
                    padding-right: 0;
                }
            }

            & > :nth-child(5) {
                @media (min-width:1025px) {
                    padding-left: 0;
                }
            }

            & > :nth-child(2),
            & > :nth-child(5),
            & > :nth-child(6) {
                grid-column: span 2;
            }

            & > :last-child {
                grid-column: span 2;
            }

            .tel1 {
                @media (max-width:600px) {
                    grid-column-start: 1;
                    grid-row-start: 5;
                }
            }

            .tel2 {
                border-right: 0;

                @media (min-width:1025px) {
                    padding-right: 0;
                }

                @media (max-width:600px) {
                    grid-column-start: 2;
                    grid-row-start: 5;
                }
            }
        }
    }
}