.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    color: $white;
    font-size: 16px;
    font-style: normal;
    line-height: 1;
    transition: background 0.3s ease 0s, box-shadow 0.3s ease 0s, backdrop-filter 0.3s ease 0s, color 0.3s ease 0s;
    background: linear-gradient(180deg, $black, rgba($color: $black, $alpha: 0));

    @media (max-width:1240px) {
        font-size: 14px;
    }

    * {
        font-weight: 500;
    }

    &._sticky {
        background: $white;
        box-shadow: 0 4px 4px 0 rgba(33, 83, 135, 0.10);
        backdrop-filter: blur(5px);

        * {
            color: $default;
        }

        .header__logo {
            width: 125px;

            @media (min-width:1025px) {
                @include adaptive-value('width', 125, 70, 1);
            }
        }

        .header__logo-sticky {
            display: block;
        }

        .header__logo-fixed {
            display: none;
        }

        .header__right button,
        .header__phone {
            color: $white !important;
            background-color: $accent;
        }

        .header__burger {
            border-color: $accent;

            span {
                background-color: $accent;
            }
        }
    }

    // .header__container
    &__container {}

    // .header__body
    &__body {
        transition: all 0.3s ease 0s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        gap: 20px;

        @media (max-width:1240px) {
            gap: 15px;
        }

        @media (max-width:1024px) {
            padding: 15px 0;
        }
    }

    // .header__left
    &__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 20px;

        @media (max-width:1240px) {
            gap: 15px;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            @media (max-width:1024px) {
                display: none;
            }

            a {
                color: inherit !important;
                transition: all 0.3s ease 0s;
                white-space: nowrap;

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    // .header__logo
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        width: 125px;
        transition: width 0.3s ease 0s;
        will-change: width;

        @media (min-width:1025px) {
            @include adaptive-value('width', 180, 70, 1);
        }

        svg,
        img,
        picture {
            flex: 0 0 auto;
            width: 100%;
        }

        // .header__logo-fixed
        &-sticky {}

        // .header__logo-sticky
        &-sticky {
            display: none;
        }
    }

    // .header__right
    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 20px;

        @media (max-width:1240px) {
            gap: 15px;
        }

        @media (max-width:1024px) {
            display: none;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
        }

        button {
            transition: all 0.3s ease 0s;
            white-space: nowrap;
            color: $default !important;
            padding: 10px 14px;
            border-radius: 2px;
            background-color: $white;
            height: 40px;

            &:hover {
                opacity: 0.5;
            }
        }

        .header__phone {
            color: inherit;
        }
    }

    // .header__phone
    &__phone {
        color: inherit !important;
        transition: all 0.3s ease 0s;
        white-space: nowrap;
        color: $default !important;
        padding: 10px 14px;
        border-radius: 2px;
        background-color: $white;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width:1240px) {
            font-size: 13px;
        }

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.5;
            }
        }
    }

    nav {
        @media (max-width:1024px) {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            @media (max-width:1240px) {
                gap: 15px;
            }

            a {
                transition: all 0.3s ease 0s;
                white-space: nowrap;
                color: inherit !important;

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    // .header__burger
    &__burger {
        position: relative;
        display: block;
        min-width: 40px;
        height: 40px;
        border-radius: 4px;
        border: 2px solid $white;
        opacity: 0.85;

        @media (min-width:1025px) {
            display: none;
        }

        span {
            position: absolute;
            display: block;
            width: 20px;
            height: 2px;
            background-color: $white;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }

        & > :first-child {
            top: calc(50% - 4px);
        }

        & > :last-child {
            top: calc(50% + 4px);
        }

        &._active {}
    }
}