$container: 1920;
$padding: 40;
$containerWithPadding: $container + ($padding * 2);
// lines
$stroke_light_grey: #DAE0E9;
$stroke_white_15: rgba(255, 255, 255, 0.15);
$stroke_blue: #000632;
// Text colors
$accent: #215387;
$default: #000632;
$secondary: #666984;
$white: #ffffff;
$white_50: rgba(255, 255, 255, 0.50);
// Background colors
$accent_10: #e8edf3;
$accent_hover: #143252;
$black: #0D0D0D;
$black_25: rgba(13, 13, 13, 0.25);
$soft_blue: #F2F4F7;