.problem-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    border-top: 1px solid $stroke_light_grey;

    @media (max-width:1024px) {
        gap: 15px;
        padding-top: 15px;
    }

    p {
        color: $secondary;
    }

    // .problem-card__top
    &__top {
        display: flex;
        align-items: center;
        gap: 20px;

        @media (max-width:1024px) {
            gap: 15px;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            width: 60px;
            height: 60px;
            background-color: $accent;

            img,
            svg,
            picture {
                height: 36px;
                object-fit: contain;

                @media (max-width:1024px) {
                    height: 30px;
                }
            }

            @media (max-width:1024px) {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.services ul {
    @media (min-width:1025px) {
        perspective: 200vw;

        li {
            position: sticky;
            will-change: opacity, transform;
            transform-style: preserve-3d;
            position: sticky;
            top: 190px;
            // top: calc(var(--i) * 50px + 70px);
            transform-origin: top;
        }
    }

    @media (max-width:1024px) {
        li {
            transform: none !important;
        }
    }
}

.services-card {
    border-radius: 4px;
    overflow: hidden;
    max-width: 1440px;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $white;
    transition: all 0.3s ease 0s;
    margin-inline: auto;
    color: $default;

    @media (any-hover: hover) {
        &:hover {
            background-color: $accent_10;
        }
    }

    @media (max-width:768px) {
        height: fit-content;
        display: flex;
        flex-direction: column-reverse;
    }

    // .services-card__img
    &__img {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;

        @media (max-width:768px) {
            height: 220px;
        }

        img,
        picture {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            object-fit: cover;
        }
    }

    // .services-card__content
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        height: 100%;
        padding: 20px;

        @media (max-width:1024px) {
            padding: 15px;
        }

        @media (max-width:768px) {
            height: fit-content;
        }

        p {
            width: 100%;
            border-top: 1px solid $stroke_light_grey;
            padding-top: 20px;

            @media (max-width:1024px) {
                padding-top: 15px;
                color: $secondary;
            }
        }
    }

    // .services-card__top
    &__top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 30px;

        h5 {
            @include adaptive-value('font-size', 32, 20, 1);
            font-weight: 400;
            line-height: 100%;
        }

        label {
            width: 80px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $stroke_light_grey;
            border-radius: 4px;
            font-size: 14px;

            @media (max-width:1024px) {
                color: $secondary;
                width: 70px;
                height: 38px;
            }
        }
    }
}

.advantages-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    border: 1px solid $stroke_light_grey;
    min-height: 100%;
    background-color: $soft_blue;

    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url('@img/advantages-card-noise.png');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        pointer-events: none;
    }

    @media (min-width:1025px) {
        min-width: 400px;
        height: 400px;

        &:nth-child(2n) {
            margin-bottom: 200px;
        }
    }

    @media (max-width:1024px) {
        padding: 15px;
        width: 100%;
    }

    @media (max-width:768px) {
        height: fit-content;
        border: 0;
    }

    // .advantages-card__top
    &__top {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width:1024px) {
            gap: 40px;
        }

        @media (max-width:768px) {
            gap: 30px;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            width: 60px;
            height: 60px;
            background-color: $accent;

            img,
            svg,
            picture {
                height: 36px;
                object-fit: contain;

                @media (max-width:1024px) {
                    height: 30px;
                }
            }

            @media (max-width:1024px) {
                width: 50px;
                height: 50px;
            }
        }
    }

    p {
        color: $secondary;
    }
}

.blog-card {
    position: relative;
    display: flex;
    gap: 15px;
    padding: 40px 0;
    border-top: 1px solid $stroke_light_grey;
    transition: all 0.3s ease 0s;
    color: $default;

    @media (max-width:1024px) {
        padding-top: 15px;
        padding-bottom: 30px;
        gap: 10px;
    }

    @media (max-width:768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    @media (any-hover: hover) {
        &:hover {
            border-top: 1px solid $accent;

            .blog-card__button {
                background-color: $accent;
                border-color: $accent;

                svg {
                    fill: $white;
                }
            }
        }
    }

    // .blog-card__body
    &__body {
        display: flex;
        gap: 15px;
        position: relative;

        @media (max-width:1024px) {
            gap: 10px;
        }

        @media (max-width:768px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    // .blog-card__data
    &__data {
        display: flex;
        align-items: center;
        gap: 30px;
        height: fit-content;
        max-width: 280px;
        width: 100%;
        flex: 0 0 auto;

        span {
            @include adaptive-value('font-size', 44, 36, 1);
            letter-spacing: -2%;
        }

        label {
            color: $secondary;
            font-size: 16px;
            line-height: 130%;

            @media (max-width:1024px) {
                font-size: 14px;
            }
        }

        @media (max-width:768px) {
            grid-column: span 2;
            gap: 15px;
        }
    }

    // .blog-card__content
    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 70%;
        width: 100%;

        @media (max-width:1024px) {
            gap: 10px;
        }

        @media (max-width:768px) {
            grid-column: span 3;
        }

        h3 {
            max-width: 550px;
            width: 100%;

            @media (min-width:1025px) {
                padding-right: 100px;
            }
        }

        p {
            max-width: 420px;
            width: 100%;
            color: $secondary;
        }

        img,
        picture {
            border-radius: 4px;
            pointer-events: none;
            width: 100%;
            height: 240px;

            @media (max-width:1024px) {
                height: 200px;
            }
        }
    }

    // .blog-card__button
    &__button {
        @media (min-width:1025px) {
            position: absolute;
            top: 40px;
            right: 0;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        flex: 0 0 auto;
        min-width: 54px;
        width: 54px;
        height: 54px;
        border: 1px solid $stroke_light_grey;
        transition: all 0.3s ease 0s;

        svg,
        img {
            fill: $accent;
            width: 24px;
            height: 24px;

            path {
                fill: $accent;
            }

            @media (max-width:1024px) {
                width: 20px;
                height: 20px;
            }
        }

        @media (max-width:1024px) {
            min-width: unset;
            width: 40px;
            height: 40px;
        }

        @media (max-width:768px) {
            margin-left: auto;
        }
    }

    // .blog-card__image
    &__image {
        display: block !important;
        padding-top: 0;
        border-top: 0;

        img {
            display: block;
            border-radius: 4px;
            width: 100%;
            height: auto;
            margin-bottom: 15px;
        }

        .blog-card__data {
            gap: 15px;
            max-width: 120px;

            @media (max-width:768px) {
                max-width: 100px;
            }

            span {
                @include adaptive-value('font-size', 34, 24, 1);
            }

            label {
                font-size: 14px;

                @media (max-width:1024px) {
                    font-size: 12px;
                }
            }
        }

        .blog-card__content {
            h3 {
                max-width: none;
            }

            p {
                max-width: none;

                @media (min-width:1025px) {
                    padding-right: 100px;
                }
            }
        }
    }
}

.gallery {
    .swiper-slide {
        height: auto;

        a {
            display: block;
            height: 100%;
        }

        img,
        picture {
            height: 100%;
            object-fit: cover;
        }
    }
}

.team-card {

    img,
    picture {
        display: block;
        border-radius: 4px;
        @include adaptive-value('height', 500, 360, 1);
        margin-bottom: 12px;
        object-fit: cover;
        pointer-events: none;
    }

    h3 {
        margin-bottom: 6px;
    }

    span {
        color: $secondary;
    }
}

.reviewidget-card {
    padding: 20px;
    background-color: $white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width:1024px) {
        padding: 15px;
        gap: 15px;
    }

    @media (max-width:768px) {}

    // .reviewidget-card__avatar
    &__avatar {
        flex: 0 0 auto;
        width: 42px;
        height: 42px;
        border-radius: 50%;

        @media (max-width:768px) {
            width: 36px;
            height: 36px;
        }
    }

    // .reviewidget-card__stars
    &__stars {
        margin-left: auto;
        width: fit-content;
        height: 12px;
        object-fit: contain;
        pointer-events: none;
    }

    // .reviewidget-card__person
    &__person {
        display: flex;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            white-space: nowrap;

            h3 {}

            span {
                font-size: 14px;
                color: $secondary;
                line-height: 100%;
            }
        }
    }

    // .reviewidget-card__review
    &__review {
        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            align-self: stretch;
            overflow: hidden;

            @media (max-width:768px) {
                -webkit-line-clamp: 4;
            }
        }
    }
}

.articles-card {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid $stroke_light_grey;
    transition: all 0.3s ease 0s;
    position: relative;

    @media (min-width:1025px) {
        @include adaptive-value('height', 350, 280, 1);
    }

    @media (max-width:1024px) {
        min-height: 280px;
        padding: 15px;
    }

    &:hover {
        border-color: $accent;

        .articles-card__button {
            border-color: $accent;
            background-color: $accent;

            svg {
                fill: $white;
            }
        }
    }

    // .articles-card__body
    &__body {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &:has(img) {
        color: $white;

        span {
            margin-left: -10px;
            margin-bottom: 20px;
            margin-top: -10px;
            display: block;
        }

        h3,
        p {
            // opacity: 0.8;
        }

        .articles-card__button {
            background-color: $white;

            @media (any-hover: hover) {
                &:hover {
                    svg {
                        fill: $white;
                    }
                }
            }
        }
    }

    img {
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        max-width: none;
        object-fit: cover;
        z-index: -1;
        border-radius: 4px;
    }

    span {
        color: $secondary;
        font-size: 16px;
        display: block;
        margin-bottom: 10px;
        line-height: 100%;

        @media (max-width:1024px) {
            font-size: 14px;
        }
    }

    p {
        @include adaptive-value('font-size', 18, 12, 1);
        margin-top: 1em;
    }

    // .articles-card__button
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        margin-left: auto;
        border-radius: 4px;
        width: 54px;
        height: 54px;
        border: 1px solid $stroke_light_grey;
        transition: all 0.3s ease 0s;

        @media (max-width:1024px) {
            width: 40px;
            height: 40px;
        }

        svg {
            fill: $accent;
            width: 14px;
            height: 14px;

            @media (max-width:1024px) {
                width: 10px;
                height: 10px;
            }
        }
    }
}

.example-card {
    display: block;
    border-radius: 4px;
    border: 1px solid $stroke_light_grey;
    position: relative;
    overflow: hidden;
    height: 100%;
    // padding-bottom: 178%;
    padding-bottom: 178%;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 75px;
        background: linear-gradient($black 0%, rgba($color: $black, $alpha: 0) 100%);
    }

    // .example-card__name
    &__name {
        position: absolute;
        left: 18px;
        bottom: 18px;
        display: flex;
        align-items: center;
        gap: 10px;
        z-index: 1;

        svg,
        img {
            width: 24px;
            height: 24px;
        }

        span {
            white-space: nowrap;
            color: $white;
            font-weight: 400;
        }
    }

    // .example-card__image
    &__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        video,
        img,
        iframe,
        picture {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }
    }
}