.grid {
    display: grid;
    gap: 16px;

    // .grid-2

    &-2 {
        grid-template-columns: repeat(2, 1fr);

        @media(max-width:768px) {
            gap: 15px;
            grid-template-columns: 1fr;
        }
    }

    // .grid-3

    &-3 {
        grid-template-columns: repeat(3, 1fr);
        gap: 64px 16px;

        @media(max-width:768px) {
            gap: 32px 15px;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .grid-4

    &-4 {
        grid-template-columns: repeat(4, 1fr);

        @media(max-width:992px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media(max-width:768px) {
            gap: 15px;
            grid-template-columns: repeat(2, 1fr);
        }
    }
} 