.grid {
    display: grid;
    gap: 16px;

    // .grid-2
    &-2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @media(max-width:600px) {
            gap: 15px;
            grid-template-columns: 1fr;
        }
    }

    // .grid-3
    &-3 {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media(max-width:1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width:600px) {
            gap: 15px;
            grid-template-columns: 1fr;
        }
    }
}