.hero {
    position: relative;
    background-color: $black;

    .section__body {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        height: 100vh;
        max-height: 1080px;
        padding-top: 90px;
        padding-bottom: 40px;
        gap: 40px;

        @media (max-width:1024px) {
            flex-direction: column-reverse;
            justify-content: flex-start;
            padding-bottom: 15px;
        }

        @media (max-width:768px) {
            height: 98vh;
        }
    }

    ._social {
        position: absolute;
        top: 100px;
        left: 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 1;

        @media (max-width:1024px) {
            display: none;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            background-color: rgba($color: $black, $alpha: 0.25);
            border-radius: 4px;
            backdrop-filter: blur(7.5px);
            transition: all 0.3s ease 0s;

            img,
            svg {
                width: 20px;
                height: 20px;
            }

            @media (any-hover: hover) {
                &:hover {
                    background-color: $accent_hover;
                }
            }
        }
    }

    // .hero__bgi
    &__bgi {
        position: absolute;
        left: 0;
        top: 0;
        max-height: 1080px;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        pointer-events: none;
        object-position: top;

        @media (max-width:768px) {
            height: 60vh;
        }

        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(13, 13, 13, 0.00) 82.08%, rgba(13, 13, 13, 0.35) 100%), linear-gradient(180deg, rgba(13, 13, 13, 0.00) 59.55%, #0D0D0D 100%);
        }

        video,
        iframe,
        picture,
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            object-position: center;
        }
    }

    // .hero__ratings
    &__ratings {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (max-width:1024px) and (min-width:769px) {
            position: absolute;
            right: 0;
            bottom: 15px;
        }

        @media (max-width:768px) {
            flex-direction: row;
            width: 100%;
        }

        a {
            display: flex;
            align-items: center;
            padding: 20px;
            border-radius: 4px;
            background: $black_25;
            backdrop-filter: blur(7.5px);
            min-width: 265px;
            width: fit-content;
            transition: box-shadow 0.3s ease 0s;

            @media (max-width:768px) {
                border: 1px solid $stroke_white_15;
            }

            &:hover {
                box-shadow: inset 0 0 0 1px $white;
            }

            @media (max-width:1024px) {
                min-width: unset;
                width: 100%;
                padding: 10px;
            }

            span {
                color: $white;
                @include adaptive-value('font-size', 40, 24, 1);
                font-weight: 500;
                line-height: 1;
                letter-spacing: -0.4px;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 50px;

                @media (max-width:768px) {
                    min-width: none;
                }

                img,
                svg,
                picture {
                    object-fit: contain;
                }

                .gis {
                    height: 30px;

                    @media (max-width:768px) {
                        height: 25px;
                    }
                }

                .yandex {
                    height: 28px;

                    @media (max-width:768px) {
                        height: 20px;
                    }
                }
            }
        }

        // .hero__ratings-stars
        &-stars {
            height: 100%;
            margin-right: auto;
            width: 90px;
            margin-left: 20px;
            padding-left: 10px;
            border-left: 1px solid $stroke_white_15;

            @media (max-width:1024px) {
                width: 65px;
                margin-left: 10px;
                padding-left: 5px;
            }
        }
    }

    // .hero__content
    &__content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 30px;
        width: 100%;

        @media (max-width:1024px) {
            align-items: flex-start;
            flex-direction: column;
        }

        h1 {
            span {
                display: block;
            }

            @media (max-width:1024px) {
                br {
                    display: none;
                }
            }
        }

        p {
            color: $white;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 40px;

            @media (max-width:1024px) {
                width: 100%;
                gap: 20px;
                padding-top: 15px;
                border-top: 1px solid $stroke_white_15;
            }

            button {
                width: fit-content;

                @media (max-width:425px) {
                    width: 100%;
                }
            }
        }
    }

    &:has(video) {
        .hero__bgi {
            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba($color: #000000, $alpha: 0.6);
            }

            @media (max-width:768px) {
                height: 70vh !important;
            }
        }
    }

    // .hero-referal
    &-referal {

        .hero__content,
        .section__body {
            @media (min-width:769px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                ._btn {
                    margin-inline: auto;
                }
            }

            ._btn {
                &:hover {
                    color: $white !important;
                }
            }

            h1 {
                @include adaptive-value('font-size', 80, 36, 1);

                br {
                    display: block;
                }
            }

            p {
                @include adaptive-value('font-size', 24, 18, 1);
            }
        }
    }
}

.popup-hero-social {
    @media (min-width:1025px) {
        display: none !important;
    }
}

.hero ._social {
    @media (max-width:1024px) {
        position: fixed;
        left: 50px;
        bottom: 165px;
        top: unset;
        z-index: 5;
        gap: 4px;

        a {
            width: 50px;
            height: 50px;
            background-color: $accent;
            backdrop-filter: none;

            img,
            svg {
                width: 16px;
                height: 16px;
            }
        }

        &._active {
            display: flex;
        }
    }

    @media (max-width:768px) {
        left: 15px;
        bottom: 80px;
    }
}