.search {
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
    z-index: 16;
    background-color: $white;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);

    @media (max-width:768px) {
        top: 0;
    }

    pointer-events: none;
    opacity: 0;

    transition: opacity 0.3s ease 0s,
    top 0.3s ease 0s;

    &._open {
        opacity: 1;
        pointer-events: all;
    }


    ._container {}

    // .search-body

    &-body {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media (max-width:768px) {
            padding: 20px 0 12px 0;
            flex-direction: column;
            gap: 12px;
            align-items: flex-start;
        }

        form {
            display: flex;
            display: flex;
            align-items: center;
            gap: 4px;
            max-width: 600px;
            width: 100%;

            @media (max-width:768px) {
                max-width: 100%;
            }

            div {
                border-radius: 8px;
                padding: 10px 12px;

                border: 1px solid #EDEDED;
                background-color: #F6F6F6;
                height: 40px;

                display: flex;
                align-items: center;
                gap: 17px;
                flex: 1 1 auto;


                svg,
                img {
                    width: 18px;
                    height: 18px;
                    fill: $soft_grey;

                    @media (max-width:768px) {
                        display: none;
                    }
                }

                input {
                    font-size: 14px;
                    line-height: 140%;
                    flex: 1 1 auto;

                    &::placeholder {
                        color: #7A7A7A
                    }
                }
            }

            ._btn {
                height: 40px;
                border-radius: 8px;
                padding-inline: 24px;

                font-size: 14px;
                font-weight: 600;
                line-height: 140%;

                @media (max-width:768px) {
                    width: 80px;
                }

                span {
                    @media (max-width:768px) {
                        display: none;
                    }
                }

                svg,
                img {
                    width: 18px;
                    height: 18px;
                    fill: $black;

                    @media (min-width:769px) {
                        display: none;
                    }
                }
            }
        }
    }

    // .search-title

    &-title {

        h6 {
            font-size: 16px;
            font-weight: 600;
            line-height: 145%;

            @media (min-width:769px) {
                display: none;
            }
        }

        button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);

            width: 36px;
            height: 36px;

            display: flex;
            align-items: center;
            justify-content: center;

            * {
                pointer-events: none;
            }


            @media (max-width:768px) {
                top: 0;
                right: -20px;
                transform: none;
            }

            img,
            svg {
                width: 12px;
                height: 12px;
                fill: $soft_grey;
            }


        }
    }
}

body:not(:has(._ticker)) .search {
    top: 55px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}