.section {
    &:not(.hero) {
        @include adaptive-value('margin-top', 150, 70, 1);
    }

    // .section__container
    &__container {}

    // .section__body
    &__body {
        h2 {
            text-align: center;
        }
    }

    // .section__title
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        @include adaptive-value('margin-bottom', 50, 30, 1);

        @media (max-width:1024px) {
            gap: 15px;
        }
    }
}

.problems {
    ol {
        max-width: 900px;
        width: 100%;
        margin-inline: auto;
        row-gap: 40px;

        @media (max-width:1024px) {
            row-gap: 30px;
        }
    }

    ._big_text {
        max-width: 900px;
        width: 100%;
        @include adaptive-value('margin-top', 150, 70, 1);
        margin-inline: auto;

        @media (max-width:1024px) {
            br {
                display: none;
            }
        }
    }
}

.services {
    background-color: $soft_blue;
    @include adaptive-value('padding-top', 100, 70, 1);
    @include adaptive-value('padding-bottom', 100, 70, 1);
    position: relative;

    h2 {
        @include adaptive-value('margin-bottom', 100, 30, 1);
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width:1024px) {
            gap: 15px;
        }
    }
}

.advantages {
    position: relative;

    svg {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        pointer-events: none;
        width: 200vw;
        max-width: none;
        clip-path: inset(0 100% 0 0);

        @media (max-width:1024px) {
            display: none;
        }
    }

    .section__body {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        @media (min-width:1025px) {
            height: 100vh;
        }
    }

    .section__title {
        span {
            display: flex;
            align-items: center;
            gap: 5px;
            color: $accent;

            @media (max-width:1024px) {
                display: none;
            }

            &:after {
                content: '→';
            }
        }
    }

    h2 {
        @media (min-width:1025px) {
            margin-bottom: 20px !important;
        }
    }

    ol {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: flex-end;
        gap: -1px;

        @media (min-width:1025px) {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 100%;
        }

        @media (max-width:1024px) {
            display: grid;
            gap: 15px;
            grid-template-columns: repeat(2, 1fr);
            transform: none !important;
        }

        @media (max-width:600px) {
            grid-template-columns: 1fr;
        }
    }
}

.form-section {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;

    @media (max-width:1024px) {
        padding-top: 0;
        padding-bottom: 0;
        background-color: $accent;
    }

    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(180deg, rgba(0, 6, 50, 0.00) 50.05%, rgba(0, 6, 50, 0.25) 100%);
        z-index: 0;

        @media (max-width:1024px) {
            display: none;
        }
    }

    img,
    picture {
        @media (min-width:1025px) {
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
        }

        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;

        @media (max-width:1024px) {
            display: block;
        }
    }

    .section__body {
        max-width: 50%;
        width: 100%;
        background-color: $white;
        border-radius: 4px;
        margin-left: auto;
        padding: 40px;
        position: relative;
        z-index: 2;

        @media (max-width:1200px) {
            max-width: 100%;
            border-radius: 0;
            padding: 20px;
        }

        @media (max-width:1024px) {
            background-color: $accent;
            padding: 30px 0 30px 0;
        }

        h2 {
            margin-bottom: 20px;
            text-align: left;

            @media (max-width:1024px) {
                color: $white;

                * {
                    color: $white;
                }
            }
        }

        ._subtitle {
            color: $secondary;
            @include adaptive-value('margin-bottom', 50, 30, 1);

            @media (max-width:1200px) {
                br {
                    display: none;
                }
            }

            @media (max-width:1024px) {
                color: $white_50;
                max-width: 75%;
                width: 100%;
            }

            @media (max-width:768px) {
                max-width: unset;
            }
        }
    }

    .form {
        @media (max-width:1024px) {
            p {
                color: $white_50;

                a {
                    color: $white;
                }
            }
        }
    }

    input,
    textarea {
        @media (max-width:1024px) {
            border-bottom: 1px solid $stroke_white_15;

            &::placeholder {
                color: $white_50;
            }
        }
    }

    button {
        @media (max-width:1024px) {
            background-color: $white;
            color: $accent;
        }
    }
}

.blog {
    .section__title {
        align-items: flex-start;

        @media (min-width:1025px) {
            padding-right: 40px;
        }

        h2 {
            text-align: left;

            @media (min-width:1025px) {
                margin-bottom: 20px;
            }
        }
    }

    .grid {
        gap: 0;

        @media (max-width:1024px) {
            display: block;
        }
    }

    button {
        @media (max-width:1024px) {
            width: 100%;
        }
    }
}

.about {
    .section__body {
        display: flex;

        @media (max-width:1024px) {
            flex-direction: column;
            gap: 30px;
        }
    }

    .section__title {
        align-items: flex-start;

        @media (min-width:1025px) {
            height: auto;
            justify-content: center;
            padding-right: 40px;
        }

        h2 {
            text-align: left;
            margin-bottom: 0;
        }
    }

    .swiper {
        width: 100%;

        @media (min-width:1025px) {
            max-width: 50%;
        }

        .pagination {
            position: absolute;
            z-index: 1;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 20px;
            display: flex;
            align-items: center;
            gap: 4px;

            @media (max-width:1024px) {
                bottom: 15px;
            }

            span {
                background-color: $white_50;
                width: 10px;
                height: 10px;
                border-radius: 50px;

                &.swiper-pagination-bullet-active {
                    background-color: $white;
                }
            }
        }

        .swiper-slide {
            @include adaptive-value('height', 550, 300, 1);

            img,
            picture {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
                pointer-events: none;
            }
        }
    }
}

.team {
    .swiper-controll {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        margin-top: 40px;

        @media (max-width:1024px) {
            margin-top: 30px;
        }
    }
}

.video {
    .section__title {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: flex-end;

        h2 {
            text-align: left;
            margin-bottom: 0;
        }
    }

    // .video__box
    &__box {
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        @include adaptive-value('height', 920, 300, 1);
        cursor: pointer;

        @media (any-hover: hover) {
            &:hover {
                .video__box-play {
                    background-color: $accent;
                }
            }
        }

        iframe {
            width: 100%;
            height: 100%;
            object-fit: contain;
            pointer-events: none;
        }

        // .video__box-preview
        &-preview {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
            z-index: 1;
        }

        // .video__box-play
        &-play {
            position: absolute;
            z-index: 2;
            left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 20px;
            width: 70px;
            height: 70px;
            border-radius: 4px;
            background-color: $black_25;
            transition: all 0.3s ease 0s;

            @media (max-width:1024px) {
                width: 50px;
                height: 50px;
                left: 15px;
                bottom: 15px;
            }

            svg,
            img,
            picture {
                width: 30px;
                height: 30px;

                @media (max-width:1024px) {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    h5 {
        display: block;
        margin-top: 20px;
        @include adaptive-value('font-size', 32, 20, 1);

        @media (max-width:1024px) {
            margin-top: 15px;
        }
    }

    ._btn {
        @media (max-width:1024px) {
            width: 100%;
            margin-top: 30px;
        }
    }
}

.return {
    @media (max-width:1024px) {
        background-color: $accent;
    }

    ._container {
        @media (max-width:1024px) {
            padding: 0;
        }
    }

    .section {

        // .section__body
        &__body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @media (min-width:1025px) {
                height: 550px;
            }

            @media (max-width:1024px) {
                grid-template-columns: 1fr;
            }
        }

        // .section__title
        &__title {
            align-items: flex-start;
        }

        // .section__left
        &__left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 50px;
            height: 100%;
            padding: 40px;
            background-color: $accent;

            @media (max-width:1240px) {
                padding: 20px;
            }

            @media (max-width:1024px) {
                padding: 30px 15px;
            }

            h2 {
                color: $white;
                text-align: left;
            }

            ._subtitle {
                color: $white_50;

                @media (max-width:600px) {
                    br {
                        display: none;
                    }
                }
            }

            // .section__left-bottom
            &-bottom {}

            // .section__left-actions
            &-actions {
                display: flex;
                gap: 10px;
                padding-top: 20px;
                border-top: 1px solid $stroke_white_15;

                @media (max-width:1024px) {
                    padding-top: 15px;
                    gap: 15px;
                }

                a {
                    width: 100%;
                }

                @media (max-width:768px) {
                    flex-direction: column;
                }
            }
        }

        // .section__right
        &__right {
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width:1024px) {
                height: 260px;
            }

            img,
            picture {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }

            div {
                position: relative;
                z-index: 1;
                display: flex;
                flex-direction: column;
                gap: 40px;
                padding: 20px;
                background-color: $white;

                @media (max-width:1024px) {
                    padding: 15px;
                    gap: 30px;
                }

                a {
                    text-decoration: underline;
                    transition: all 0.3s ease 0s;
                    color: $secondary;

                    @media (any-hover: hover) {
                        &:hover {
                            color: $default;
                        }
                    }
                }
            }
        }
    }
}