.single-product {
    @media (min-width:1025px) {
        padding-bottom: 76px;

        &:has(.swiper-slide:only-child) {
            padding-bottom: 0;
        }
    }

    .section__body > .grid {
        @media (max-width:768px) {
            display: flex;
            flex-direction: column-reverse;
            gap: 24px;
        }
    }

    // .single-product__slider

    &__slider {
        min-height: 0;
        min-width: 0;
        position: relative;
    }

    // .single-product__contnet

    &__contnet {
        border-radius: 16px;
        background-color: #F6F6F6;
        display: flex;
        flex-direction: column;

        @include adaptive-value('padding', 32, 24, 1);


        h1 {
            font-size: 28px;
            margin-bottom: 8px;
        }

        ._chars {
            margin-top: 32px;
            flex: 1 1 auto;

            @media (max-width:768px) {
                margin-top: 24px;
            }
        }

        .grid {
            margin-top: 32px;
            gap: 8px;


            @media (max-width:768px) {
                margin-top: 24px;
            }

            ._btn {

                &-accent {}


                &-white {}
            }
        }

        form {
            width: 100%;

            ._btn {
                width: 100%;
            }

            .quantity {
                display: none;
            }
        }
    }

    // .single-product__price

    &__price {
        margin-top: 24px;
        display: flex;
        align-items: center;
        gap: 8px;

        & > :first-child {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            gap: 16px;
        }

        &:not(:has(del)) .amount,
        ins {
            font-size: 28px;
            font-weight: 700;
            line-height: 125%;
            text-decoration: none;
        }

        del {
            color: $soft_grey;
            font-size: 20px;
            line-height: 145%;
            text-decoration: line-through;
        }

        ._sale {
            padding: 4px 8px;
            border-radius: 8px;
            background-color: $accent;
            text-align: center;

            font-size: 14px;
            line-height: 140%;
        }
    }

    .swiper {
        min-height: 0;
        min-width: 0;
    }

    .slider {

        // .slider-big

        &-big {
            position: relative;

            button {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                z-index: 2;

                &.prev {
                    @include adaptive-value('left', 32, 16, 1);
                }

                &.next {
                    @include adaptive-value('right', 32, 16, 1);
                }
            }

            .swiper-slide {
                height: auto;
                border-radius: 16px;
                overflow: hidden;
                max-height: 570px;

                img,
                picture {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        // .slider-small

        &-small {
            @media (min-width: 1025px) {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -16px;
                transform: translate(0, 100%);
            }

            @media (max-width:1024px) {
                margin-top: 12px;
            }

            .swiper-slide {
                width: 60px;
                height: 60px;
                border-radius: 8px;
                overflow: hidden;
                border: 1px solid transparent;
                cursor: pointer;

                &.swiper-slide-thumb-active {
                    border-color: $accent;
                }

                img,
                picture {
                    height: 100%;
                    object-fit: contain;
                }
            }

            &:has(.swiper-slide:only-child) {
                display: none;
            }
        }
    }


}

._chars {
    & > :not(:last-child) {
        margin-bottom: 16px;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        font-size: 16px;
        line-height: 145%;

        @media (max-width:768px) {
            font-size: 14px;
        }

        i {
            display: block;
            flex: 1 1 auto;
            height: 1px;
            background-color: #bcbcbc;
        }

        & > :first-child {}
    }
}

.product-descr {

    ._attention {
        margin-top: 0;
        margin-bottom: 16px;

        @media (max-width:768px) {
            margin-bottom: 8px;
        }
    }

    &__text,
    &__cahrs,
    &__docs {
        border-radius: 16px;
        background-color: #F6F6F6;

        @include adaptive-value('padding', 32, 24, 1);
    }

    &__cahrs,
    &__docs {
        h3 {
            @include adaptive-value('font-size', 20, 16, 1);
            margin-bottom: 16px;
        }
    }

    // .product-descr__text

    &__text {
        margin-bottom: 16px;

        @media (max-width:768px) {
            margin-bottom: 8px;
        }

        & > h2 {
            @include adaptive-value('font-size', 28, 16, 1);
            margin-bottom: 8px;

        }

        ._text-box {
            color: $grey;

            &._hidden {
                max-height: 70px;
                overflow: hidden;
                position: relative;

                transition: max-height 0.3s linear 0s;

                &:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 50%;
                    background: linear-gradient(180deg, rgba($color: $bgc, $alpha: 0), $bgc);

                    transition: opacity 0.3s ease 0s;
                }
            }

            &._active {
                max-height: 100vh;

                &:before {
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }
    }

    .grid {
        @media (max-width:768px) {
            gap: 8px;
        }
    }

    // .product-descr__cahrs

    &__cahrs {

        @media (max-width:768px) {
            ._chars li {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0;

                & > :last-child {
                    font-weight: 600;
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #bcbcbc;
                }
            }
        }
    }

    // .product-descr__docs

    &__docs {
        a {
            display: flex;
            align-items: center;
            gap: 10px;

            font-size: 15px;
            line-height: 145%;
            text-decoration: underline;

            &:not(:last-child) {
                margin-bottom: 16px;
            }

            img,
            svg {
                flex: 0 0 auto;
                width: 15px;
                height: 20px;
            }
        }
    }
}

._more-text {
    margin-top: 32px;
    font-size: 15px;
    line-height: 145%;
    text-decoration: underline;

    transition: color 0.3s ease 0s;


    @media (any-hover: hover) {
        &:hover {
            color: $accent;
        }
    }
}

.related {
    .swiper-slide {
        height: auto;
    }
}