.custom-page {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    // null default styles
    @import "null";
    // load fonts
    @import "fonts";
    //load variables
    @import "common/variables";
    // load mixins
    @import "mixins";
    // load swiper
    @import "../../node_modules/swiper/swiper";
    // load fancybox
    @import "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox";
    scroll-behavior: smooth;
    font-style: normal;
    letter-spacing: normal;
    color: $default;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    background-color: $white;

    &:not(:has(.acf-widget)) {
        font-family: "Inter Tight";
    }

    &:has(.acf-widget) {
        font-family: "Montserrat", sans-serif;
    }

    @media (max-width:1024px) {
        font-size: 14px;
    }

    // load common
    @import "common/common";
    // load animations
    @import "common/animations";
    // load header
    @import "common/header";
    // load footer
    @import "common/footer";
    // load form
    @import "common/form";
    // load side popup
    @import "common/popup";
    // load footer
    @import "common/menu";
    // load accordeon
    @import "common/accordeon";
    // load grid
    @import "parts/grid";
    // load section
    @import "parts/section";
    // load hero
    @import "parts/hero";
    // load section
    @import "parts/cards";
    // load widgets
    @import "parts/widgets";

    .popup {

        // .popup-block
        &-block {
            height: auto;

            &:has(._open) .popup-open {
                display: none;
            }
        }

        // .popup-open
        &-open {
            position: fixed;
            left: 50px;
            bottom: 100px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            z-index: 500;
            box-shadow: 0 0 10px 0 rgba(0, 6, 50, 0.50);
            background-color: $accent;
            border-radius: 4px;

            @media (max-width:768px) {
                left: 15px;
                bottom: 15px;
            }

            &[data-open-popup="callback_2"] {
                left: unset;
                right: 50px;

                @media (max-width:768px) {
                    right: 15px;
                }
            }

            img,
            svg {
                pointer-events: none;
                width: 20px;
                height: 20px;

                @media (max-width:768px) {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        // .popup-widget
        &-widget {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 9999;
            background: rgba(0, 0, 0, 0.50);
            backdrop-filter: blur(10px);
            display: flex;
            align-items: center;
            justify-content: center;
            //anim
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease 0s;

            &._open {
                opacity: 1;
                pointer-events: all;
            }

            @media (max-width:768px) {
                top: unset;
                bottom: 0;
                height: fit-content;
                background: transparent;
            }
        }

        // .popup-close
        &-close {
            top: -5px;
            right: 0;
            transform: translate(0, -100%);

            @media (max-width:768px) {
                right: 15px;
                width: 40px;
                height: 40px;
                box-shadow: 0px 0px 20px 0px rgba($color: $black, $alpha: 0.2);

                span {
                    width: 20px;
                }
            }
        }

        // .popup-body
        &-body {
            border-radius: 4px;
            background: linear-gradient(180deg, #215387 0%, #010733 100%);
            padding: 20px;
            color: $white;
            width: 400px;
            position: relative;

            @media (max-width:768px) {
                padding: 15px 15px 30px 15px;
                width: 100%;
                border-radius: 4px 4px 0 0;
                box-shadow: 0px 0px 20px 0px rgba($color: $black, $alpha: 0.2);
            }

            h3 {
                font-size: 24px;
                font-weight: 600;
                line-height: 110%;
                margin-bottom: 0;

                @media (max-width:768px) {
                    font-size: 20px;
                }
            }

            p {
                margin-top: 10px;
                font-size: 16px;
                line-height: 130%;
                opacity: 0.75;
                margin-bottom: 0;

                @media (max-width:768px) {
                    font-size: 14px;
                    margin-top: 8px;
                }
            }

            ol {
                margin-bottom: 0;
                margin-top: 40px;
                list-style: none;

                @media (max-width:768px) {
                    margin-top: 20px;
                    display: none;
                }

                & > :not(:last-child) {
                    margin-bottom: 10px;

                    @media (max-width:768px) {
                        margin-bottom: 5px;
                    }
                }

                li {
                    list-style: none;
                    padding-left: 0;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 120%;

                    @media (max-width:768px) {
                        font-size: 12px;
                    }

                    /* 16.8px */
                    &:before {
                        display: none;
                    }
                }
            }

            ._btn {
                margin-top: 40px;
                width: 100%;

                @media (max-width:768px) {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    z-index: 10;
                    opacity: 0;
                    margin-top: 0;
                }
            }

            .label {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                overflow: hidden;

                label {
                    margin: 0;
                    position: absolute;
                    top: 35px;
                    right: -38%;
                    width: 100%;
                    transform: rotate(45deg);
                    transform-origin: center;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 120%;
                    color: $white;
                    background-color: #BA0000;
                    padding: 5px;
                    text-align: center;

                    @media (max-width:768px) {
                        font-size: 12px;
                        top: 30px;
                        right: -40%;
                    }
                }
            }
        }
    }
}

.pages {
    position: fixed;
    top: 50%;
    left: 0;
    background-color: #020202;
    z-index: 10000;
    color: #fff;
    width: fit-content;
    height: auto;
    padding: 20px;
    transform: translate(0, -50%);

    &._hide {
        transform: translate(-100%, -50%);
    }

    button {
        padding: 5px;
        background-color: #000;
        margin-bottom: 10px;
        position: absolute;
        left: 100%;
        top: 0;
        font-size: 20px;
    }

    a {
        display: block;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}